<div class='row'>
    <div class="col-sm-12 col-md-12 index-card">
        
        <%= kg_to_lbs(81) %>
        <div style="width: 100%">
            <canvas id="canvas" height="450" width="600"></canvas>
        </div>
        </div>
    </div>


	<script>
	var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

	var barChartData = {
        
        <%
            labels = []
            (Date.today - 7 ).upto(Date.today) { |date| labels << date }
        %>
		labels : <%= labels.to_json %>,
		datasets : [
			{
				fillColor : "rgba(220,220,220,0.5)",
				strokeColor : "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data :
// [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
                <%=
                # user[:days].to_json
                data = []
                (Date.today - 7 ).upto(Date.today) do |date|
                    # data << @hist.where(date: date)
                    data << 23
                end
                data
                %>
			},
			{
				fillColor : "rgba(151,187,205,0.5)",
				strokeColor : "rgba(151,187,205,0.8)",
				highlightFill : "rgba(151,187,205,0.75)",
				highlightStroke : "rgba(151,187,205,1)",
				data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
			},
		]

	}
	window.onload = function(){
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myBar = new Chart(ctx).Bar(barChartData, {
			responsive : true
		});
	}

	</script>