<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}
</style>
<script src="http://d3js.org/d3.v3.min.js"></script>

<div class='row row-centered'>
    <div class="col-sm-8 col-md-8 index-card col-centered">
        <div class="graph-container">
            <!-- <canvas class='graph' id="canvas" height="450" width="600"></canvas> -->
        </div>
        <h3 class='graph-title'>Last 7 days</h3>
        </div>
    </div>


	<script>
        var data;
        
        $.ajax({
            type: 'GET',
            url: "/tmp",
            async: false,
            success: function(d) {data = JSON.parse(d).slice();}
        });
        
        console.log('ajax resp', data);


        var format = d3.time.format("%Y-%m-%d")
          var amountFn = function(d) { return d.weight }
          var dateFn = function(d) { return format.parse(d.date) }

          var margin = {top: 20, right: 20, bottom: 30, left: 40},
              width = 960 - margin.left - margin.right,
              height = 500 - margin.top - margin.bottom;

          var x = d3.time.scale()
            .range([10, 280])
            .domain(d3.extent(data, dateFn))

          var y = d3.scale.linear()
            .range([180, 10])
            .domain(d3.extent(data, amountFn))
        
            var xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom");

            var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");
                
          var svg = d3.select(".graph-container").append("svg:svg")
          .attr("width", 300)
          .attr("height", 200)

          svg.selectAll("circle").data(data).enter()
           .append("svg:circle")
           .attr("r", 4)
           .attr("cx", function(d) { return x(dateFn(d)) })
           .attr("cy", function(d) { return y(amountFn(d)) }) 
           
           svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
      
      svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
        
	</script>